.header-top {
    position: relative;
    align-items: center;
    border-bottom: 1px solid #EDEDEE;
    background-color: #f6f6f6;
    display: flex;
    flex-grow: 1;
    font-size: 12.8px;
    font-size: 0.8rem;
    z-index: 4;
    transition: ease height 300ms, ease max-height 300ms, ease min-height 300ms;
}
a.nav-link {
    font-weight: 600;
	padding: 1rem !important;
}
/* List Infos */
.list-infos {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	padding-left: 0;
	height: 100%;
}

.list-infos > li {
	display: flex;
	align-items: center;
	font-size: 12.8px;
	font-size: 0.8rem;
	line-height: 0.8;
	list-style: none;
}

.list-infos > li > i {
	font-size: 1.2em;
}

.list-infos > li + li {
	margin-left: 30px;
}

.list-infos > li.list-info-item-increase-size {
	font-size: 14.4px;
	font-size: 0.9rem;
}

.list-infos > li.list-info-item-increase-icon-size > i {
	font-size: 1.5em;
	line-height: 0.4;
}

@media (max-width: 991px) {
	.list-infos > li + li {
		margin-left: 0px;
	}
}
.social-icons {
    margin: 0;
    padding: 0;
    width: auto;
}
.social-icons li {
    display: inline-block;
    margin: -1px 1px 0 2px;
    padding: 0;
    border-radius: 100%;
    overflow: visible;
}
.social-icons.social-icons-2 li a {
    font-size: 12.8px;
    font-size: 0.8rem;
}
.social-icons li a {
    transition: all 0.2s ease;
    background: #FFF;
    border-radius: 100%;
    display: block;
    height: 2.4em;
    font-size: 1.1em;
    line-height: 2.4em;
    width: 2.4em;
    text-align: center;
    color: #999;
    text-decoration: none;
}
.navbar.sticky-top{background-color:#FFFFFF;}
html .btn-primary, html.sticky-header-active .btn-sticky-primary {
    border-color: #0A4787;
    color: #FFF;
    background-color: #0A4787;
	padding: 8px;
}