<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    .displayNone {
      display: none;
    }

    .displayOn {
      display: initial;
    }
  </style>
</head>

<body>
  <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
  <div class="container mt-3" id="container">
    <div class="jumbotron" id="contenedor">
      <h1 style="color:blue">Agregar un usuario</h1>
      <br>
      <form id="mySubmitForm">
        <div class="form-group">
          <label for="name"><b>Ingrese el token de seguridad</b></label>
          <input id="token" class="form-control" type="text" name="token">
        </div>
        <div class="form-group">
          <label for="name"><b>Ingrese el username</b></label>
          <input id="username" class="form-control" type="text" name="username">
        </div>
        <div class="form-group">
          <label for="name"><b>Ingrese la contraseña</b></label>
          <input id="password" class="form-control" type="password" name="password">
        </div>
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
      </form>
      <form action="/" method="get">
        <button class="btn btn-success mt-3 mb-5">Ir a Login</button>
      </form>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#mySubmitForm").submit(function (event) {
        event.preventDefault();
        var formData = {
          token: $("#token").val(),
          username: $("#username").val(),
          password: $("#password").val(),
        };

        axios.post('/register', formData)
          .then((response) => {
            if (response.data == 'este username ya existe') {
              $("#contenedor").addClass('displayNone')
              $("#container").append(`
			<div class="jumbotron" id="contenedor">
      <h1 style="color:blue">Este username ya existe!</h1>
<form action="/register" method="get">
      <button class="btn btn-success mt-3 mb-5">Volver</button>
      </form>
    </div>`)
            } else {
              if (response.data == 'token incorrecto') {
$("#contenedor").addClass('displayNone')
                $("#container").append(`
			<div class="jumbotron" id="contenedor">
      <h1 style="color:blue">token incorrecto!</h1>
<form action="/register" method="get">
      <button class="btn btn-success mt-3 mb-5">Volver</button>
      </form>
    </div>`)
              } else {
                $("#contenedor").addClass('displayNone')
                $("#container").append(`
			<div class="jumbotron" id="contenedor">
      <h1 style="color:blue">Usuario Creado!</h1>
<form action="/register" method="get">
      <button class="btn btn-success mt-3 mb-5">Volver</button>
      </form>
    </div>`)
              }

            }
          })
          .catch((err) => {
            $("#contenedor").addClass('displayNone')
            $("#container").append(`
			<div class="jumbotron" id="contenedor">
      <h1 style="color:blue">Error de servidor</h1>
<form action="/register" method="get">
      <button class="btn btn-success mt-3 mb-5">Volver</button>
      </form>
    </div>`)
          });
      });
    });
  </script>
</body>



</html>